{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>{% block title %}Pranav C{% endblock %}</title>
    
    <link rel='stylesheet' href="{% static 'css/main.css'  %}"/>
    {% block head %}{% endblock %}
  </head>
  <body class='bg-dark text-white'>
      <div class='container '>

        {% block content %}
        {% if user.is_authenticated %}
        <p>Welcome, {{ user.get_username }}. Thanks for logging in.</p>
        <div class="float-right">
          <button type="button" class="btn btn-primary">Add Ticket</button>
        </div>

          <div class="form-group">

            <label for="formGroupExampleInput">User Name</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input" value="{{ user.get_username }}">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">Email</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input" value="{{ user.email }}">
          </div>
          {% else %}
          <p>Welcome, new user. Please log in.</p>

          
        {% endif %}
        <label for="formGroupExampleInput2">Departments</label>
        {{ form.departments}}

        <label for="formGroupExampleInput2">Category</label>
        {{ form.all_category_choices}}

        <label for="formGroupExampleInput2">PWSLab Project URL</label>
        {{form.pws_project_url}}

        <label for="formGroupExampleInput2">Subject</label>
        {{form.subject}}

        <label for="formGroupExampleInput2">Description</label>

        {{form.description}}

        
        <!-- <a href='/download/'>Download</a> -->
        {% endblock %}

        <!-- if you want a radio button style -->
        <!-- <ul>
          {% for choice in form.departments.field.choices %}
            <li>
              <input type="radio" name="departments" value="{{choice.0}}"
                {% ifequal form.departments.data choice.0 %} 
                   checked="checked"
                {% endifequal %}/>
              <label for="">{{choice.1}}</label>
            </li>
          {% endfor %}
        </ul> -->
        
        
        
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    {% block js %}
    {% endblock %}
  </body>
</html>

